@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7fb;
}
.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  transition: 0.4s ease;
  z-index: -1;
}
.circle {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
.circle.active {
  border-color: #3498db;
}
.btn {
  background-color: #3498db;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 4px;
  margin-right: 20px;
  font-family: inherit;
}
.btn:active {
  transform: scale(0.96);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
